

/* 
***********************
VARIABLES
*********************** 
*/

:root{
    --nb_first-color: #f8f9fa;
    --nb_second-color: #051e34;
    --nb_third-color: #1b72e8;
    --nb_link-color: white;
    --nb_badge-color: #165bba;
    --nb_header-height: 4.375rem;
}

/* 
***********************
SETUP
*********************** 
*/ 

/* .nb_main_central_box{
    background-color: lightblue;
}  */

/* .nb_central_top{
    background-color: rgb(181, 228, 181);
} */

/* 
***********************
COMMON
*********************** 
*/

body{
    font-family: 'Roboto', sans-serif;
}


/* 
***********************
HEADER
*********************** 
*/

header{
    height: var(--nb_header-height);
    background-color: var(--nb_first-color);
    position: fixed;
    width: 100%; 
}

header .container-fluid{
    background-color: white;
}

.nb_logo_mobile{
    width: 3.125rem;
    height: 3.125rem;

}

.nb_search_box {
    background-color:#e5e5e5;
}

.nb_search_box span a {
    color: black;
    font-size: 1.25rem;
}

.nb_search_box input {
    background-color:#e5e5e5;
}

.nb_bell_icon a{
    color: #ff8f00;
}

header .nb_list_icon a,
header .nb_question_icon a,
header .nb_ellipsis_icon a{
    color: #5b5858;
}

.dropdown-menu a{
    color: black;
}

.nb_header_icons div a{
    font-size: 1.3rem;
}


/* 
***********************
MAIN STRUCTURE
*********************** 
*/

main{
    padding-top: var(--nb_header-height);
    width: 100%;
}

.nb_sidebar_box, .nb_main_central_box {
    height: calc(100vh - var(--nb_header-height));
}

.nb_main_central_box{
    overflow: auto;
}

.nb_sidebar_box{
    width: auto;
} 

/* 
***********************
MAIN CONTENT
*********************** 
*/

/* Sezione Main Sidebar */

main .nb_sidebar_box{
    background-color: var(--nb_second-color);
    background-image: url(../img/sidebar-bg.png);
}

main .container, main .row{
    height: inherit;
}

main .nb_sidebar_box a{
    color: var(--nb_link-color);
}

main .nb_sidebar_box .nb_hidden_nav{
    font-size: .875rem;
}


/* Sezione Main Central Top */

.nb_plus{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
}

.nb_plus i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--nb_link-color)
}


.nb_central_top{
    background-color:var(--nb_third-color);
    color: white;
}


.nb_angles_right_icon{
    color: var(--nb_link-color);
}

/* Sezione Main Central Bottom */

.nb_central_bottom{
    color: black;
}

